# Data types

## Numerical data
There are two types of numerical data: <u>integer</u> and <u>floating point</u> (or simply <u>floating</u>).

Integers are numbers that do not have a decimal part, and the result of applying the arithmetic 
operations on these numbers is always an integer, except when we perform a division, 
which would lead to decimal numbers.
```python
7 / 2
```

A floating number consists of two parts: the $mantissa$ and the $exponent$. 
The mantissa is specified by the integer part plus the fractional part, both separated by a point. 
The exponent is used in a similar way to the scientific notation of calculators; it involves adding a 
```e``` or a ```E``` at the end of the mantissa. Some correct ways to express the number 2 in floating format are: 
```python
2.
2.0
2e+0
2.e-0
2E+0
0.2e+1
20e-1
```

From the list above, we can highlight that by adding the point to the end of the integer, 
the number becomes a floating number (*line* 1). Also, the numbers of *lines* 3, 5 and 7 are floating, 
i.e., if we specify the exponent, it is not necessary to add the point.
If we mix integer numbers with floating numbers, the result is the most general result, that is, a floating number.
```python
7. + 2
9.0
7 * 2.
14.0
```

__Below, perform the same calculations as in the previous cell but using variables__

## Predefined functions
There are some predefined functions Python that can be used without the ```numpy``` or ```math``` modules.
The ```int()``` function allows obtaining the integer part of a floating number:
```python
int(3.6494)
3
```
It is important mentioning that ```int()``` provides the integer part of the number but it does not round the number.
That action is carried out by ```round()```. Try those examples in the cell below:
```python
round(3.6494)
round(3.6494,0)
round(3.6494,1)
round(3.6494,2)
round(3.6494,3)
```

On the other hand, if we want to transform an integer number into a floating number, 
the function to use is ```float( )```. For example,
```python
float(4)
4.0
```
Another function that is predefined in Python is ```abs( )```, 
which returns the absolute value of a number, either integer or floating. For example:
```python
abs(-2)
abs(2)
abs(-2.)
```

__Below, perform the same calculations as in the previous cell but using variables__

## Strings
The type of data we have seen so far are numeric, but Python also admits $strings$. 
A <u>string</u> is a sequence of characters, that can include letters, numbers, punctuation marks, 
spaces, etc., enclosed between quotation marks (single or double). An example is:
```python
'hello world'
```

In *line* 2 the first character is a blank space, so that the two strings do not stick together when we add 
them to *line* 3. The $+$ sign between two strings concatenates them, that is, the second string is added 
at the end of the first string. 
```python
greeting1 = 'hello'
greeting2 = ' world'
greeting1 + greeting2
```

Numbers can also be treated as strings
```python
num1 = '2'
num2 = '2'
num1 + num2
```

If we want to transform numerical strings into numbers to make an addition, 
then we have to use the ```int( )``` function. Specifically:
```python
int(num1) + int(num2)
```
not
```python
int(num1 + num2)
```

In the second case Python concatenates the two chains first and then transforms them into an integer. 
In the same way, we can transform a numeric string to a floating point number with ```float( )```.

The inverse operation of number to string is also possible with the ```str( )``` function. For example:
```python
num1 = 2
num2 = 2
str(num1) + str(num2)
```

__Using strings write a sentence with your name and age (each variable should be a word or number)__

__Make use of strings ```'2.5'``` y ```'3'``` and sum them as strings and as numbers.__

## Boolean data type
Boolean operators act on Boolean variables and have the meaning indicated in the Table. 


| Operation | Operator | Meaning | Priority |
|:-----------|:----------|:-------------|-----------|
| ```not a``` | ```not``` | ```True``` if and only if ```a``` is false | 6 |
| ```a and b``` | ```and``` | ```True``` if and only if ```a``` and ```b```are true | 7 |
| ```a or b``` | ```or``` | ```True``` if ```a``` and/or ```b``` are true | 8 |

On the other hand, to establish comparisons, we have the <u>comparison operators</u> that are shown in the Table. 
In this Table, it is indicated that in Python the equality is represented by  `== ' and that `=' is reserved 
for the assignment of variables.

| Operation | Operator | Meaning | Priority |
|:-----------|:----------|:-------------|-----------|
|```a == b``` | ```==``` | ```a``` is equal to ```b``` | 5 |
|```a != b``` | ```=!``` | ```a``` is not equal to ```b``` | 5 |
|```a > b```  | ```>```  | ```a``` is greater than ```b``` | 5 |
|```a < b```  | ```<```  | ```a``` is less than ```b``` | 5 |
|```a >= b``` | ```>=``` | ```a``` is greater or equal than ```b``` | 5|
|```a <= b``` | ```<=``` | ```a``` is less or equal than ```b``` | 5|

In Python, it is possible to make several comparisons at the same time:
```python
2 != 5 > 3
```

Boolean operators ```and``` and ```or``` start acting from the left side, whereas ```not``` starts from the right side.<br> 
The following example shows the way Boolean operators work:
```python
a = 1; b = 2; c = 3; d = 4
a == 1 or b == 2 and d == 3 or c == 3
True
```
In Py it is possible to write several sentences in a line separated by a semicolon ```;``` <br>
How it works is described below:<br>
Notice that we use the ```print()``` function so we can print the result at each step. 
Triple quatation marks ```'''``` are use to open and close the comments:

```python
a = 1; b = 2; c = 3; d = 3
'''
Resulting in:

True or True and False or True

Then we have the "and" operator which has more priority than "or"
'''
print(True and False)

'''
Resulting in: 

True or False or True

Now we start from the left:
 '''
print(True or False)
'''
Finally:
''' 
print(True or True)
```
__Do the same for the operation below:__
```python
a == 2 or b == 3 and d == 3 or c == 3
```

__Indicate the result of the following Boolean operations:__
```python
True or 5 < 3
7 != 9 and not (False or 3 > 1)
True == False
True != False
True >= True
not False and True
1 + 1 == 3 or 1 + 1 != 3 and not 1 + 1 > 3
1 < 3 > 0 == 0
1 < 3 > 0 == True
1 + 7 != 7 == abs(-7)
```
__Perform each operation in a new cell and use the comments to indicate the order of operations. 
For instante:__
```python
True or 5 < 3   
''' 
First 5<3 (Ans: False); then True or False (Ans: True)
'''
True
```